.monster {
	position: relative;
	width: 640px;
	height: 230px;
}

.game {
	position: relative;
	left: 70px;
	width: 500px;
	height: 600px;
}

.monsterBlood {
	background-color: #e50049;
	width: 350px;
	height: 10px;
	position: absolute;
	left: 140px;
	top: 15px;
}

.road {
	background-color: #131a3d;
	position: absolute;
	width: 10px;
	height: 585px;
}

.bridge {
	background-color: #131a3d;
	position: absolute;
	width: 90px;
	height: 10px;
	cursor: pointer;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
}

.bridge.hide {
	display: none;
}

.ball {
	position: absolute;
	background-position: -10px -10px;
}

.ballImgSmall {
	position: absolute;
	left: -12.5px;
	top: -12.5px;
}

.ballImgMid {
	position: absolute;
	left: -18.5px;
	top: -18.5px;
}

.ballImgBig {
	position: absolute;
	left: -25.5px;
	top: -25.5px;
}