.monster {
	position: relative;
	width: 640px;
	height: 230px;
}

.monsterImg {
	position: absolute;
	top: 30px;
	left: 230px;
}

.monsterImg.dead {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

.game {
	position: relative;
	left: 70px;
	width: 500px;
	height: 600px;
}

.monsterBlood {
	background-color: #e50049;
	width: 350px;
	height: 10px;
	position: absolute;
	left: 140px;
	top: 15px;
}

.playerBlood {
	background-color: #9cce91;
	height: 10px;
	position: absolute;
	left: 45px;
	top: 208px;
}

.road {
	background-color: #131a3d;
	position: absolute;
	width: 10px;
	height: 585px;
}

.bridge {
	background-color: #131a3d;
	position: absolute;
	width: 90px;
	height: 10px;
	cursor: pointer;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
}

.bridge.hide {
	display: none;
}

.ball {
	position: absolute;
	background-position: -10px -10px;
}

.ballImgSmall {
	position: absolute;
	left: -12.5px;
	top: -12.5px;
}

.ballImgMid {
	position: absolute;
	left: -18.5px;
	top: -18.5px;
}

.ballImgBig {
	position: absolute;
	left: -25.5px;
	top: -25.5px;
}

.timerbarArea {
	position: absolute;
	top: 203px;
	left: 39px;
}

.timerbar {
	position: absolute;
	top: -2px;
	left: 10px;
	overflow: hidden;
}

.bouns {
	position: absolute;
	top: 470px;
	left: 10px;
}

.shield {
	position: absolute;
	top: 204px;
	left: 45px;
	overflow: hidden;
}

.monster_buff_icon{
    position: absolute; 
	height: 30px;
	width: 70px;
	top: 30px;
	left: 280px;
    visibility:  hidden;    
}

.resultView {
	background-image: url("../image/cardTipsBg.png");
	position: absolute;
	top: 0px;
	left: 0px;
	width: 640px;
	height: 930px;
}

.victory {
	position: absolute;
	top: 220px;
}

.defeat {
	position: absolute;
	top: 220px;
}

.confirmBtn {
	position: absolute;
	height: 30px;
	width: 75px;
	top: 465px;
	left: 447px;
	cursor: pointer;
}

.resultText {
	color: #FF0000;
	position: absolute;
	height: 40px;
	width: 450px;
	top: 480px;
	left: 110px;
}
