body {
	padding: 0;
	border: 0;
	margin: 0;
	overflow: hidden;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
}

.view {
	background-image: url('../image/bg.jpg');
	position: absolute;
	width: 640px;
	height: 930px;
	left: -320px;
	top: -465px;
}

.playerarea {
	position: absolute;
	left: 50px;
	top: -10px;
	width: 90px;
	height: 100px;
}