.textbox {
	width: 170px;
	height: 50px;
	position: relative;
	border-radius: 6px;
	margin-top: 4px;
	font-size: 60px;
}

.box {
	width: 50px;
	height: 50px;
	position: relative;
	border-radius: 6px;
	margin-top: 4px;
}

.rolebox {
	width: 90px;
	height: 100px;
	position: relative;
	border-radius: 6px;
	margin-top: 4px;
	display: inline-block
}

.energybox {
	width: 0px;
	height: 15px;
	left: 0px;
	top: 0px;
	position: absolute;
	border-radius: 6px;
	margin-top: 4px;
}

.orbbox {
	width: 25px;
	height: 25px;
	position: absolute;
	border-radius: 6px;
	margin-top: 4px;
	display: inline-block
}

.orbpos0 {
	left: 3px;
	top: 70px;
	position: absolute;
}

.orbpos1 {
	left: 33px;
	top: 70px;
	position: absolute;
}

.orbpos2 {
	left: 63px;
	top: 70px;
	position: absolute;
}

.attackOrbPos0 {
	left: 30px;
	top: 35px;
	position: absolute;
	z-index: 2;
}

.attackOrbPos1 {
	left: 125px;
	top: 35px;
	position: absolute;
	z-index: 2;
}

.attackOrbPos2 {
	left: 220px;
	top: 35px;
	position: absolute;
	z-index: 2;
}

.attackOrbPos3 {
	left: 315px;
	top: 35px;
	position: absolute;
	z-index: 2;
}

.attackOrbPos4 {
	left: 410px;
	top: 35px;
	position: absolute;
	z-index: 2;
}

.attackOrbPos5 {
	left: 505px;
	top: 35px;
	position: absolute;
	z-index: 2;
}

.playerarea {
	width: 600px;
	height: 100px;
	position: relative;
	border-radius: 6px;
	margin-top: 4px;
}

.transparent {
	background-color: transparent;
}

.green {
	background-color: #00FF00;
}

.red {
	background-color: #FF0000;
}

.blue {
	background-color: #0000FF;
}

.bk_green {
	background-color: #008000;
}

.bk_red {
	background-color: #800000;
}

.bk_blue {
	background-color: #000080;
}

.bk_purple {
	background-color: #6600FF;
}

.energyboxcolor {
	background-color: #33CCCC;
}

.orange {
	background-color: #f38630;
}
.grey {
	background-color: #989898;
}

.transparent_green {
  background-color:rgba(0,200,0,0.5);
}

.role_img{
	left: 25px;
	top: 25px;
	position: absolute;
}
