img {
    position: relative;
    left: 25px;
    top: 25px;
    z-index: 1;
}

.textbox {
  width:170px;
  height:50px;
  position:relative;
  border-radius:6px;
  margin-top:4px;
  font-size:60px;
}

.box {
  width:50px;
  height:50px;
  position:relative;
  border-radius:6px;
  margin-top:4px;
}

.rolebox {
  width:90px;
  height:100px;
  position:relative;
  border-radius:6px;
  margin-top:4px;
  display:inline-block
}

.combobox {
  width:90px;
  height:15px;
  left:0px;
  top:0px;
  position:absolute;
  border-radius:6px;
  margin-top:4px;
}

.orbbox {
  width:25px;
  height:25px;
  position:absolute;
  border-radius:6px;
  margin-top:4px;
  display:inline-block  
}

.orbpos1{
  left:3px;
  top:70px;
  position:absolute;
}

.orbpos2{
  left:33px;
  top:70px;
  position:absolute;
}

.orbpos3{
  left:63px;
  top:70px;
  position:absolute;
}

.playerarea {
  width:620px;
  height:100px;
  position:relative;
  border-radius:6px;
  margin-top:4px;
}

.green{
  background-color:#00FF00;
}

.red {
  background-color:#FF0000;
}

.blue {
  background-color:#0000FF;
}

.orange {
  background-color:#f38630;
}
.grey {
  background-color:#989898;
}
